<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/">Home</a>
        |
        <a href="/flights">All FLights</a>
        |
        <a href="/flights/new">New Flight</a>
        |
        
    </nav>
    <main>
   <h1>Flights App</h1>