<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    |
    <a href="/flights">All FLights</a>
    |
    <a href="/flights/new">New Flight</a>
    
   <h1>Flights</h1>